@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
#projectss {

    font-family: 'Raleway', sans-serif;
    padding: 80px 0 30px 0;
    .nav{
        .nav-link{
            color: black;
            font-weight: 400;
            font-size: 13px;
            letter-spacing: 1px;
        }
        .active {
            color: white;
        }
    }
}