@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
#projectss {
  font-family: "Raleway", sans-serif;
  padding: 80px 0 30px 0;
}

#projectss .bgvideo {
  width: 100%;
  margin: 0;
  border-radius: 100px;
}

#projectss .nav .nav-link {
  color: black;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
}

#projectss .nav .active {
  color: white;
}

#projectss #header {
  font-size: 8vw;
  font-family: "Karla", sans-serif;
  letter-spacing: 2px;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  #projectss #header {
    margin-top: 10px;
  }
}

#projectss #header::before {
  content: "";
  height: 5px;
  width: 50%;
  background-color: white;
}

#projectss .access-link {
  position: absolute;
  bottom: 45px;
  width: 100%;
  text-align: center;
}

#projectss .access-link a {
  text-decoration: none;
  font-size: 17px;
  padding: 10px 25px;
  border-radius: 30px;
  color: white;
  margin: 20px;
  letter-spacing: 1px;
  border: 2px solid #5654c8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#projectss .access-link a:hover {
  background-color: #5654c8;
}

@media only screen and (max-width: 600px) {
  #projectss .access-link {
    bottom: 25px;
  }
  #projectss .access-link a {
    font-size: 10px;
  }
}

#teamsms-popup {
  color: white;
}

#teamsms-popup .container {
  padding: 50px;
}

#teamsms-popup p {
  font-size: 17px;
  font-family: "Karla";
  color: #cacaca;
}

#teamsms-popup p span {
  color: #89a589;
}

#teamsms-popup #a {
  text-decoration: none;
  font-size: 17px;
  padding: 10px 25px;
  border-radius: 30px;
  color: white;
  margin: 20px;
  letter-spacing: 1px;
  border: 2px solid #5654c8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#teamsms-popup #a:hover {
  background-color: #5654c8;
}

@media only screen and (max-width: 600px) {
  #teamsms-popup .container {
    padding: 20px;
  }
  #teamsms-popup #a {
    font-size: 10px;
  }
  #teamsms-popup p {
    font-size: 10px;
  }
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  -webkit-transition: 0.64s ease-in-out;
  transition: 0.64s ease-in-out;
}

.popup-inner {
  position: relative;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #131111;
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
  -webkit-transition: 0.64s ease-in-out;
  transition: 0.64s ease-in-out;
}

.popup-inner .popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #5654c8;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
/*# sourceMappingURL=projects.css.map */